---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

# Journal Articles
- Santillan, B., Frias, C.E., Rojas, T.V., Abad, J.D. (in review). Geomorphic Legacy and Paleochannel-Driven Hydrodynamic Connectivity in the Pacaya-Samiria Wetland Complex.
- Dominguez-Ruben, L., Rojas, T.V., Petry, P., Loayza-Muro, R., Toledo, E., Cardenas, A., Abad, J.D. (in review). Incorporating River Morphodynamics in the Characterization of Key Ecological Units for Conservation in the Western Amazon.
- Rojas, T.V., O’Reilly, K.E., Houghton, C.J., Shrovnal, J.S., Berg, M.B., Uzarski, D.G., Lamberti, G.A., Forsythe, P.S. (2025), Coastal Wetlands Drive Isotopic Niche Plasticity of Top Predator Fish Communities in Green Bay, Lake Michigan (USA). Ecology and Evolution, 15: e71463. https://doi.org/10.1002/ece3.71463
- Rojas, T.V., Abad, J.D., Roque, W.R., Latrubesse, E.M., Shan, J. (2023). Free and underfit-scavenger river dynamics dominate the large Amazonian Pacaya-Samiria wetland structure. Frontiers in Environmental Science. 11:1082619. https://doi.org/10.3389/fenvs.2023.1082619
- Rojas, T.V., Bartl, K., Abad, J.D. (2021). Assessment of the potential responses of ecosystem services to anthropogenic threats in the Eten wetland, Peru. Ecosystem Health and Sustainability. https://doi.org/10.1080/20964129.2021.1942224 

# Magazines and Media
- Rojas, T.V., Quincey, D., Rau, P., Horna-Muñoz, D., Abad, J.D. (2021). Adapting to receding glaciers in the Tropical Andes. Eos, 102. https://doi.org/10.1029/2021EO210525

# Technical Reports
- Abad, J., Rojas, T., Anampa, L., Chicchon, H. (2025). Minería Ilegal en Áreas Clave para la Biodiversidad y zonas prioritarias para la conservación en la Amazonia Peruana. Conservación Amazónica - ACCA. Lima, Peru. [Available in Spanish]
- Huaman, B., Sáenz, E., Novoa, S., Rojas, T. & Finer, M. (2024) Incremento de concesiones mineras ponen en riesgo Áreas Protegidas y Reservas Indígenas en la Amazonía Peruana. MAAP# 223. [Available in Spanish]
- Petry, P., Cardenas, A., Abad, J., Loayza, R., Dominguez, L., Rojas, T., Toledo, E. (2024). Desarrollo de un portafolio de conservación de biodiversidad de agua dulce en la Amazonía peruana con identificación de corredores de protección. Portafolio de las cuencas Napo, Marañon y Ucayali. The Nature Conservancy. Lima, Peru. [Available in Spanish]
